@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter,Arial, Helvetica, sans-serif;
}

.footerTitle {
  @apply text-darkGrey text-lg
}

.footerLink {
  @apply text-darkGrey text-[15px] cursor-pointer hover:underline
}